* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFF2D7;
    justify-content: center;
    align-items: center;
}

#main {
    display: flex;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* --------------------------------------------------------- */
/* Nav */

#container-nav{
    background-color: #4D3227;
    height: 124px;
    width: auto;
    display: flex;
    justify-content: flex-end;
    padding: 0 50px;
}

#container-nav>div{
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 20px;
}

#container-nav>div>a {
    color: #D9D9D9;
    text-decoration: none;
}

/* --------------------------------------------------------- */
/* Aside */

aside {
    background-color: #FFD9AA;
    min-height: 100dvh;
    width: calc(100% - 60%);
    max-width: 362px;
    display: flex;
    flex-direction: column;
}

#asideConfig {
    color: #4D3227;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#asideConfig h1 {
    font-size: 30px;
    font-weight: bold;
}

#asideOptBtn {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.asideBtnText {
    color: #4D3227;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    gap: 30px;
}

.asideBtnText i {
    font-size: 25px;
    width: 30px;
}

.asideBtnText p {
    font-size: 23px;
    width: 180px;
    text-align: left;
}

#asideOptBtn a:hover,
.special {
    background-color: #FF8C42;
    color: white;
    border-radius: 5px;
}

/* --------------------------------------------------------- */
/* Container Right */

#editContainer {
    margin: 50px 0;
    width: calc(100% - 25%);
    min-height: 815px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#edit1 {
    display: flex;
    align-items: center;
}

#edit2 {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#edit2 h2 {
    color: #4D3227;
    font-size: 40px;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#submitBtn {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.inputFoto {
    color: transparent;
}

::file-selector-button {
    border: none;
    background-color: transparent;
    color: #9B9B9B;
    cursor: pointer;
}

/* --------------------------------------------------------- */
input,
textarea {
    outline: none;
    background-color: #FEFEFE;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    box-sizing: border-box;
    color: #4D3227;
    display: inline-block;
    font-size: 20px;
    padding: 15px;
    width: 800px;
    height: 60px;
    text-decoration: none;
    transition: 0.5s;
}

textarea {
    resize: none;
    width: 800px;
    height: 300px;
}

::placeholder,
label,
#dataFundacao {
    color: #9B9B9B;
}

.btn {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    width: 200px;
    height: 60px;
    font-size: 20px;
    transition: 0.5s;
    background-color: #FF8C42;
    color: white;
}

.btn:hover {
    background-color: #e96c1f;
}

/* ---------------------------------------------------------------- */
/* Media Query */
@media (max-width: 1220px) {
    aside {
        display: none;
    }

    #editContainer {
        display: flex;
        width: 100%;
    }

    input,
    textarea {
        width: 400px;
    }

    textarea {
        width: 400px;
        height: 300px;
    }

    .btn {
        width: 150px;
    }
}